services:

  roadrunner:
    build:
      dockerfile: .docker/roadrunner.Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PHP_IDE_CONFIG=serverName=docker
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - path: .env
        required: false
    healthcheck:
      test: ["CMD-SHELL", "php -r 'exit((int)!@fsockopen(\"127.0.0.1\", 8080));'"]
      interval: 10s
      timeout: 3s
      retries: 10